{% extends "templates/layout.html" %}

{% block title %}
{% if search_query %}{{ t.search_query | replace(from="{query}", to=search_query) }} - {{ blog_name }}{% else %}{{ blog_name }}{% endif %}
{% endblock %}

{% block content %}
{% if search_query %}
<h1 class="listing-title">{{ t.search_results_for_query | replace(from="{query}", to=search_query) }}</h1>
{% else %}
<section class="intro">
    <h1 class="intro-title">{% if blog_description %}{{ blog_description }}{% else %}{{ blog_name }}{% endif %}</h1>
</section>
{% include "templates/filters.html" %}
{% endif %}

{% include "templates/work_grid.html" %}
{% include "templates/pagination.html" %}

{% if newsletter_enabled %}
<section class="newsletter-block">{% include "templates/subscribe.html" %}</section>
{% endif %}
{% endblock %}
