<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{{ blog_name }}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "header.html" %}

        <main class="container">{% block content %}{% endblock %}</main>

        {% block scripts %}{% endblock %}
    </body>
</html>
