{% if pagination %}{% if pagination.total_pages > 1 %}
<nav class="pagination" aria-label="{{ t.pagination }}">
    {% if pagination.prev_url %}
    <a href="{{ pagination.prev_url }}" rel="prev">&larr; {{ t.newer }}</a>
    {% else %}
    <span></span>
    {% endif %}
    <span class="pagination-status">{{ t.page_current_of_total | replace(from="{current}", to=pagination.current ~ "") | replace(from="{total}", to=pagination.total_pages ~ "") }}</span>
    {% if pagination.next_url %}
    <a href="{{ pagination.next_url }}" rel="next">{{ t.older }} &rarr;</a>
    {% else %}
    <span></span>
    {% endif %}
</nav>
{% endif %}{% endif %}
